table{
	border: 12px solid #1a237e;
	color:black;
	border-collapse:collapse;
	margin-top: 50px;
	margin-left: 0px;
	}
	td{
	width: 100px;
	height: 100px;
	text-align: center;
	border: 1px solid #1a237e;
	font-size: 18px;
	font-weight: bold;
	}
	th{
	height: 50px;
	padding-bottom: 8px;
	color: white;
	background:#1a237e;
	font-size: 20px;
	text-align: center;
	font-weight:bold;
	color:white;
	
	}
	
	.prev_sign a, .next_sign a{
	color:white;
	text-decoration: none;
	}
	
	tr.week_name{
	font-size: 16px;
	font-weight:bold;
	color:white;
	width: 10px;
	background-color: #efe8e8;
	}
	.highlight{
	font-weight:bold;
	color:white;
	background-color:#1a237e;
	height: 70px;
	padding-top: 30px;
	padding-bottom: 7px;
	}
	.calender .days td
	{
		width: 80px;
		height: 80px;
	}
	.calender .hightlight
	{
		font-weight: 600px;
	}
	.calender .days td:hover
	{
		background-color: #B0E0E6;
	}
	
	/* Telefones em paisagem e abaixo */
	@media (max-width: 480px) { 
		td{
			width: 20px;
			height: 10px;
			text-align: center;
			border: 1px solid #1a237e;
			font-size: 18px;
			font-weight: bold;
			}
	}
	
	/* Telefones em paisagem a tablet em retrato */
	@media screen and (min-width:360px) and (max-width: 750px) {
		.td{
			width: 20px;
			height: 20px;
			text-align: center;
			border: 1px solid #1a237e;
			font-size: 15px;
			font-weight: bold;
			}
	
		.calender .days td{
		width: 20px;
		height: 20px;
		}
	
		.highlight{
			font-weight:bold;
			background-color:#1a237e;
			color: white;
			height: 20px;
			width: 20px;
			padding-top: 0px;
			padding-bottom: 7px;
		}
	}
	