 div.contato {
    
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    
  }
  
  .contenador .form .form-header .form-title{
    font-weight: normal;
      text-align:center;
      font-family:sans-serif;
      background:none;
      padding:14px 0;
      
  
  }
  
  .contenador .form .form-header .form-title span{
    color: #fff;
  
  }

  .contenador .form .title {
      text-align: center;
      font-weight: bold;
      font-family: Roboto;
      color:#fff;
      font-weight: bold;
  }
  
  .contenador .form {
      background: rgba(0,0,0,.6);
      width:100%;
      max-width:680px;
      margin:auto;
      padding:50px 35px;
      max-width:650px;
      padding-bottom:25px;
      border-radius:3px;
  }
  
  .contenador .form .form-label {
      display:block;
      color:#fff;
      font-size:16px;
      font-family: Roboto;
      Position:relative;
      font-weight: bold;
  }
  
  .contenador .form .form-input, .form-textarea {
      background: rgba(0,0,0,.7);
      border:none;
      outline:none;
      border-bottom:2px solid blue;
      width:100%;
      padding:12px;
      margin-bottom:20px;
      border-radius:2px;
      font-size:14px;
      color:#fff;
      font-family: Roboto;
      
  }	
  
  .contenador .form .form-textarea{
      resize:vertical;
      max-height:150px;
      min-height:50px;
      
  }
  
  
  .contenador .form .btn-submit {
      width:100%;
      font-family: Roboto;
      outline:none;
      
      font-size:16px;
      border: white;
      color:white;
      padding:15px 0;
      cursor: pointer;
      transition: all .5s ease;
  }
  
  .contenador .form .btn-submit:hover {
      background: white;
      color:black;
  }

  iframe {
      max-width:100%;
  }
  
  .btn-submit {
    width:100%;
    font-family: Roboto;
    outline:none;
    text-align: center;
    align-content: center;
    align-items: center;
    font-size:16px;
    border: white;
    color:white;
    padding:15px 0;
    cursor: pointer;
    transition: all .5s ease;
    border-bottom: #fff;
}

.btn-submit:hover {
    background: white;
    color:black;
}

.adm {
    font-weight: bold;
    font-family: Roboto;
}

div.fundao {
    background: #e8eaf6 ;
}

.fundao .btn {
    color:white;
}
.fundao .btn:hover {
    background:white;
    color:black;
}
