/* html, body {
    width: 98%;
    height: 95%;
    background: #000;
    font-size: 16px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
    transform: translateZ(0);
  }
  
  .carousel input {
    position: absolute;
    left: -10000px;
  }
  
  .carousel__stage {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    transition: text-indent 600ms;
    position: relative;
  }
  
  .carousel__item {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 0;
    opacity: 0.6;
    text-align: center;
  }
  
  .carousel__image {
    height: 100%;
    width: auto;
    display: inline-block;
  }
  
  .carousel__next,
  .carousel__prev {
    display: none;
    position: absolute;
    top: 50%;
    color: #FFF;
    background: rgba(255, 255, 255, 0.15);
    z-index: 1;
    font-size: 1rem;
    padding: 20px;
    cursor: pointer;
  }
  
  .carousel__prev {
    left: 0;
  }
  
  .carousel__prev:after {
    content: ' << ';
    display: inline-block;
  }
  
  .carousel__next {
    right: 0;
  }
  
  .carousel__next:after {
    content: ' >> ';
    display: inline-block;
  }
  
  #carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1),
  #carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2), 
  #carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3), 
  #carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) {
    opacity: 1;
  }
  
  #carousel1:checked ~ .carousel__stage {
    text-indent: 0;
  }
  
  #carousel2:checked ~ .carousel__stage {
    text-indent: -100%;
  }
  
  #carousel3:checked ~ .carousel__stage {
    text-indent: -200%;
  }
  
  #carousel4:checked ~ .carousel__stage {
    text-indent: -300%;
  }
  
  #carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__prev,
  #carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__next,
  #carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__prev,
  #carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__next,
  #carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__prev,
  #carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__next,
  #carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__prev,
  #carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__next {
    display: block;
  }*/
